<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mbds.barcodebattler">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logobattle"
        android:label="Barcode Battle"
        android:roundIcon="@drawable/logobattle"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MonstersActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CombatMascottesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DetailsMascotte"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CombatLocalSelect"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ListMascotte"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CombatReseauSelect"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ListEquipement"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DetailsEquipement"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EquipementsActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>